body {
  text-align: center;
}

canvas {
  margin-top: -4rem;
}

.info {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
}

p.score {
  padding-right: 10%;
}

p.lives {
  padding-right: 10%;
}
